@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.dropdown-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.dropdown-header {
  background-color: white;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  padding: 0 20px;
}

.dropdown-list {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 20px;
}

li {
  list-style-type: none;

  &:first-of-type {
    > button {
      border-top: 1px solid rgb(233, 233, 233);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  &:last-of-type > button {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

button {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 16px;
  padding: 15px 20px 15px 20px;
  border: 0;
  border-left: 1px solid rgb(233, 233, 233);
  border-right: 1px solid rgb(233, 233, 233);
  border-bottom: 1px solid rgb(233, 233, 233);
  width: 100%;


  &:hover, &:focus {
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(233, 233, 233);
  }
}

.switch-container {
  text-align: center;
}

.green-text {
  color:green;
}